{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
  }
}