/* global variables */
$font_path: "./fonts/";
$default_event_bgcolor: #e3d7a3;
$default_event_txtcolor: #777e41;
$default_event_pointer_bgcolor: #f0f0f0;
$default_event_pointer_border: #4496d3;
$default_needle_pointer_color: #e8383d;
/*!
 * jQuery Timeline Plugin
 * ------------------------
 * Version: 1.0.5
 * Coded by: ka2 ( https://ka2.org/ )
 * Repository: https://github.com/ka215/jquery.timeline
 * Lisenced: MIT
 */
@charset "UTF-8";
@font-face {
  font-family: 'jQueryTimeline';
  src:  url('#{$font_path}jQueryTimeline.eot?t4qpol');
  src:  url('#{$font_path}jQueryTimeline.eot?t4qpol#iefix') format('embedded-opentype'),
    url('#{$font_path}jQueryTimeline.ttf?t4qpol') format('truetype'),
    url('#{$font_path}jQueryTimeline.woff?t4qpol') format('woff'),
    url('#{$font_path}jQueryTimeline.svg?t4qpol#jQueryTimeline') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="jqtl-"], [class*=" jqtl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jQueryTimeline' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jqtl-pushpin:before {
  content: "\ea37";
}
.jqtl-calendar:before {
  content: "\ea60";
}
.jqtl-spinner:before {
  content: "\eb24";
}
.jqtl-more:before {
  content: "\ec5b";
}
.jqtl-more-horizontal:before {
  content: "\ec5c";
}
.jqtl-more-vertical:before {
  content: "\ec6a";
}
.jqtl-dot:before {
  content: "\ec6b";
}
.jqtl-plus:before {
  content: "\ed5d";
}
.jqtl-minus:before {
  content: "\ed5e";
}
.jqtl-cross:before {
  content: "\ed6d";
}
.jqtl-circle-right:before {
  content: "\edee";
}
.jqtl-circle-left:before {
  content: "\edf2";
}
.jqtl-circle-fill-right:before {
  content: "\edf6";
}
.jqtl-circle-fill-left:before {
  content: "\edfa";
}
.jqtl-arrow-down:before {
  content: "\ee29";
}
*, ::after, ::before {
  box-sizing: border-box;
}
.timeline-container {
  position: relative;
  display: block;
  visibility: hidden;
  margin: 15px;
  font-size: 1rem;
  line-height: 1.5;
}
.timeline-header {
  text-align: left;
}
.timeline-headline {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.timeline-from-date, .timeline-to-date {
  margin-right: .3rem;
}
.timeline-from-date:before {
  content: "\ea60";
  font-family: 'jQueryTimeline' !important;
  margin-right: .3rem;
  color: #7f7f7f;
  font-weight: 400;
}
.timeline-to-date:before {
  content: "\301C";
  margin-right: .3rem;
  color: #7f7f7f;
  font-weight: 400;
}
.timeline-body {
  position: relative;
  display: block;
  margin: 0 auto;
  width: inherit;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  z-index: 1;
}
.timeline-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  width: auto;
  height: 259px; /* default: index-table(59px) + timeline-grid(200px)  */
}
.timeline-wrapper:before, .timeline-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
}
.timeline-wrapper:before {
  left: 0;
  border-left: 1px solid #ddd;
}
.timeline-wrapper:after {
  right: 0;
  border-right: 1px solid #ddd;
}
.timeline-timetable {
  display: table;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #ddd;
  border-top: 1px solid #ddd;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0;
}
.timeline-timetable>thead>tr>th {
  border: 0;
}
.timeline-timetable>thead>tr>th.scale-major {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 100%;
  color: #555;
  text-align: center;
  border-top: 0;
  border-right: 1px solid #ddd;
  border-bottom: 0;
  border-left: 0;
}
.timeline-timetable>thead>tr>th.scale-medium {
  /* width: calc( 100% / 24 ); */
  padding-top: 0;
  padding-bottom: 4px;
  font-size: 85%;
  color: #777;
  text-align: center;
  border-top: 0;
  border-right: 1px solid #ddd;
  border-bottom: 0;
  border-left: 0;
}
.timeline-timetable>thead>tr>th.scale-major:last-child, 
.timeline-timetable>thead>tr>th.scale-medium:last-child {
  border-right: 0;
}
.timeline-timetable>thead>tr>th.scale-small {
  padding: 0;
  border-top: 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 0;
}
.timeline-timetable>thead>tr>th.scale-small:last-child {
  border-right: 0;
}
.timeline-to-prev {
  position: absolute;
  top: -2rem;
  left: 15px;
  z-index: 9;
}
.timeline-to-next {
  position: absolute;
  top: -2rem;
  right: 15px;
  z-index: 9;
}
.scale-days {
  
}
.scale-hours {
  
}
.scale-minutes {
  
}
.spacer-cell {
  display: block;
  width: 29px;
  min-height: 5px;
}
.timeline-events {
  position: relative;
  display: none;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9;
}
.timeline-container .timeline-events {
  position: absolute;
  height: 200px;
}
.timeline-body .timeline-events {
  display: block;
}
.timeline-node {
  position: absolute;
  display: block;
  margin: 6px 0;
  padding: 4px 25px 4px 10px;
  height: auto;
  line-height: 20px;
  vertical-align: middle;
  text-align: left;
  background-color: $default_event_bgcolor;
  color: $default_event_txtcolor;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 8;
  transition: all 1s ease 0;
}
.timeline-event-pointer {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  background-color: $default_event_pointer_bgcolor;
  border-radius: 100%;
  border: solid 4px $default_event_pointer_border;
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.timeline-node.timeline-event-pointer.hovered {
  z-index: 99;
}
.timeline-node.timeline-event-pointer.active {
  box-shadow: 0px 10px 6px -6px rgba(51,51,51,.25);
  z-index: 99;
}
.timeline-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.timeline-node.timeline-text-truncate.active {
  margin: 2px 0 4px;
  border: solid 1px rgba(61,61,61,.25);
  box-shadow: 0px 10px 6px -6px rgba(51,51,51,.25);
  z-index: 99;
}
.timeline-node.timeline-text-truncate:after {
  content: "\ec5c";
  font-family: 'jQueryTimeline' !important;
  font-size: 14px;
  position: absolute;
  right: 5px;
}
.timeline-loader {
  position: absolute;
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  opacity: .3;
  animation: spin 2.1s linear infinite;
}
.timeline-loader i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 48px;
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.timeline-line-canvas {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 6;
}
.timeline-grids {
  position: absolute;
  left: 0;
  height: 200px;
  border-top: 1px solid #ddd;
  z-index: 0;
}
.timeline-grids>tbody>tr>td {
  padding: 0;
  border-top: 0;
  border-right: 1px dotted #ddd;
  border-bottom: 0;
  border-left: 0;
  vertical-align: bottom;
}
.timeline-grids>tbody>tr>td:first-child {
  border-left: 0;
}
.timeline-grids>tbody>tr>td:last {
  border-right: 0;
}
.timeline-needle-pointer {
  position: absolute;
  display: block;
  bottom: 7px;
  width: 1px;
  height: calc( 100% - 56px );
  border-left: 2px dotted $default_needle_pointer_color;
  z-index: 19;
}
_::-webkit-full-page-media, _:future, :root .timeline-needle-pointer {
  /* For Safari only */
  bottom: 0;
}
.timeline-needle-pointer:before {
  content: "\ea37";
  font-family: 'jQueryTimeline' !important;
  position: absolute;
  top: -8px;
  left: -7.5px;
  font-size: 13px;
  color: $default_needle_pointer_color;
}
.timeline-footer {
  position: relative;
  top: 50%;
  width: 100%;
  z-index: 5;
}
.timeline-nav {
  width: inherit;
}
.timeline-to-prev-default, .timeline-to-next-default {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 2rem;
  color: rgba(71,71,71,.325);
  text-decoration: none;
}
.timeline-to-prev-default:hover, .timeline-to-next-default:hover, 
.timeline-to-prev-default:active, .timeline-to-next-default:active, 
.timeline-to-prev-default:focus, .timeline-to-next-default:focus {
  color: rgba(71,71,71,.75);
  text-decoration: none;
}
.timeline-to-prev-custom, .timeline-to-next-custom {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(51,51,51,.2);
  color: #fff;
  text-decoration: none;
}
.timeline-to-prev-custom:hover, .timeline-to-next-custom:hover, 
.timeline-to-prev-custom:active, .timeline-to-next-custom:active, 
.timeline-to-prev-custom:focus, .timeline-to-next-custom:focus {
  background-color: rgba(51,51,51,.3);
  color: rgba(255,255,255,.75);
  text-decoration: none;
}
/*  */
.timeline-event-view {
  display: block;
  margin: 0 1em;
}
.timeline-event-header {
  margin-top: 0;
  margin-bottom: 1rem;
  border-bottom: dotted 1px #a8a8a8;
}
.timeline-event-label {
  font-family: inherit;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.timeline-event-meta {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}
.timeline-event-meta:before {
  content: "\ea60";
  font-family: 'jQueryTimeline' !important;
  color: #999;
  margin-right: 0.5rem;
}
.timeline-event-start-date, .timeline-event-end-date {
  
}
.timeline-event-date-separator {
  display: inline-block;
}
.timeline-event-date-separator:after {
  content: "\301c";
  color: #777;
  font-weight: 400;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.timeline-event-body {
  margin-top: 0;
  margin-bottom: 1rem;
}
.timeline-event-footer {
  margin-top: 0;
  margin-bottom: 1rem;
}
